<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 100%;

}

</style>
{% extends 'courses/base.html' %}
{% block student %}
    {% if asg %}

            <a class="navbar-brand" href="syllabus/">{{ asg.0.course.cname }}&nbsp; {{ asg.0.course.year }}</a>

    {% endif %}
{% endblock %}
{% block links %}
    <li>
        <a href="add/">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>&nbsp; Upload Assignment
        </a>
    </li>
{% endblock %}

{% block body %}
{% if asg %}
    <table style="width:100%">
    <tr>
        <th>Submission Date</th>
        <th>Title</th>
        <th>pdf</th>
        {% if user.is_authenticated %}
        <th>Update</th>
        <th>Delete</th>
        {% endif %}
    </tr>
        {% for asgn in asg %}

            <tr>
            <td>{{ asgn.date }}</td>
            <td>{{ asgn.title }}</td>
            <td><a href="{{ asgn.file.url }}" target="_blank">Pdf</a></td>
            {% if user.is_authenticated %}
            <div class="container">
                   <td>
                       <a href="{{ asgn.pk }}/update/" class="btn btn-default btn-xs" role="button">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp; Update
                         </a>
                   </td>
                    <td>
                        <a href="{{ asgn.pk }}/delete/" class="btn btn-default btn-xs" role="button">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp; Delete</a>
                    </td>
            </div>
            {% endif %}

            </tr>
        {% endfor %}

    </table>
    </br>
    </br>

{% else %}
    <h3>You don't have any assignments added till now.</h3>
{% endif %}
{% endblock %}


