
<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
<link rel="stylesheet" type='text/css' href="{% static 'student/question.css' %}">

</head>
<body>
<h1 font="Verdana" align="center" >Ask a question</h1>
<form class="form-style-9" action="{%url 'student:extract_question' %}" method="post">{% csrf_token %}
<ul>
<li>
    <input type="text" name="input-name"  class="field-style field-split align-left" placeholder="Name" />
    <input type="email" name="input-email"  class="field-style field-split align-right" placeholder="Email" />

</li>
<li>
    <input type="text" name="input-phone"  class="field-style field-split align-left" placeholder="Phone" />
    <input type="text" name="input-id" size="20" class="field-style field-split align-right" placeholder="College Identification number" />
</li>
<li>
<input type="text" name="input-subject"  class="field-style field-full align-none" placeholder="Subject" />
</li>
<li>
<textarea name="input-message" class="field-style" placeholder="Message"></textarea>
</li>
<li>
<input type="submit" value="Post question" />
</li>
</ul>
</form>
</body>
</html>